<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logic</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
    <script src="angularjs/libs/angular.min.js"></script>

</head>
<body ng-app="angularjs-logic">
    <div ng-controller="myctrl" class="col-8 m-auto py-3">
        <div class="card">
            <div class="card-header bg-warning">
                <i class="fas fa-list me-2"></i> FORM THÔNG TIN SINH VIÊN
            </div>
            <div class="card-body">
                <form>
                    <div class="form-outline mb-4">
                        <input type="text" id="form1Example1" class="form-control"/>
                        <label class="form-label" for="form1Example1">Họ và tên</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="form1Example2" class="form-control"/>
                        <label class="form-label" for="form1Example2">Mã SV</label>
                    </div>
                    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                        THÊM
                         </button>
                </form>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">NHẬP THÔNG TIN</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form1Example1" class="form-control" ng-model="student.Masv" />
                                        
                                        <label class="form-label" for="form8Example1">Mã sinh viên</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form1Example1" class="form-control" ng-model="student.fullname"/>
                                        <label class="form-label" for="form8Example2">Họ và tên</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form1Example1" class="form-control" ng-model="student.link"/>
                                        <label class="form-label" for="form8Example2">link ảnh</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" id="textAreaExample" rows="3" ng-model="student.MoTa"></textarea>
                                        <label class="form-label" for="textAreaExample">Mô tả</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal"> <i
                                class="fas fa-times me-2"></i>HỦY</button>
                        <button class="btn btn-success"  ng-click="insert()" 
                        ng-show="index==-1" ng-disabled="index != -1"  data-mdb-dismiss="modal">add
                </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered border-primar">
            <thead>
                <tr class="bg-warning">
                    <th scope="col">ID</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Mô tả</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sv in students">
                    <th>{{sv.Masv}}</th>
                    <th>{{sv.fullname}}</th>
                    <td>
                        <img
                            src="{{sv.link}}"
                            alt="{{sv.fullname}}"
                            width="50"
                            height="50"
                        >
                    </td>
                    <td>{{sv.MoTa}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
    <!-- <script type="text/javascript" src="angularjs/libs/angular.min.js"></script> create by vũ minh -->
    <script>
        var app = angular.module("angularjs-logic", []);
        app.controller("myctrl", function($scope){
            $scope.$parent.students = [
                {Masv:'PH21979',
                 fullname: 'Vũ Minh',
                  link: 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png',
                  MoTa: 'không'}
            ]
            
            ;
            $scope.student = {};
            $scope.index = -1;
            console.log( $scope.students);
            $scope.reset = function(){
                $scope.student = {};
                $scope.index = -1;
            }
    
            $scope.insert = function(){
                $scope.students.push(angular.copy($scope.student));
                $scope.reset();
            }
        })
    </script>
</body>
</html>
